/* FORM HOOK */
.form-hook {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px 10px 5px 5px;
    background-color: #007bff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    z-index: 10000;
}
.form-hook img {
  max-height: 50px;
}
.form-hook content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.form-hook h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
}
.form-hook h4 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #ffffff;
}

/* Active States */
.form-hook.hidden {
  opacity: 0;
  pointer-events: none;
}